* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

li {
    position: relative;
    padding: 5px 20px;
    list-style: none;
    width: 100px;
    text-align: center;
    border: 2px solid #222;
}
.main-menu {
    display: block;
    width: 100%;
    height: auto;
    margin: 50px 20px;
    background: lightgray;
}

.main-menu > li {
    display: inline-block;
}

.submenu {
    display: none;
}

.main-menu > .li-ul > .submenu {
    position: absolute;
    top: 100%;
    left: -2px;  
    background-color: lightgreen  ;
}

.main-menu > .li-ul > .submenu > .li-ul > .submenu {
    position: absolute;
    top: -2px;
    left: 100%;   
    background-color:  lightseagreen;
}
.submenu {
    display: none;
}
.li-ul:hover > .submenu {
    display: block;
}

/* .li-ul:hover > .submenu > .li-ul:hover > .submenu {
    display: block;
} */

/* .li-ul:hover .submenu {
    display: block;
} */

/* .li-ul:hover > .submenu.sub1 {
    display: block;
}

.li-ul:hover > .submenu.sub2 {
    display: block;
} */



.color{
    color: white;
}
.color.is-blue {
    background: blue;
}
.color > .is-red {
    background: red;
}
.color .is-green {
    background: green;
}


/* .submenu {
   display: none;
}
.li-ul:hover > .sub1 {
   display: block;
}
.li-ul:hover > .sub2 {
   display: block;
} */
