.item1 {
  grid-area: title;
}
.item2 {
  grid-area: c-left;
}
.item3 {
  grid-area: c-right;
}
.item4 {
  grid-area: c-full;
}
.item5 {
  grid-area: side;
}
.item6 {
  grid-area: footer;
}
.wrapper div {
  background: lightgreen;
  padding: 1em;
}
.wrapper {
  display: grid;
  grid-gap: .5em;
  grid-template-areas:
    'title title title title title'
    'c-left c-left c-right c-right side'
    'c-full c-full c-full c-full side'
    'footer footer footer footer side';
    
}

.wrapper div {
  background: lightgreen;
  padding: 1em;
}
.wrapper {
  display: grid;
  grid-gap: .5em;
  grid-template-areas:
    'i1 i1 i1 i1 i1'
    'i2 i2 . . i8'
    'i3 i4 i4 i5 i8'
    'i6 i6 i7 i7 i8'
    
}