/***************/
/**  HELPERS  **/
/***************/

:root {
    --helper-none: 0;
    --helper-s: 0.5em;
    --helper-m: 1em;
    --helper-l: 2em;
}
/* padding */
.pts { padding-top: var(--helper-s); }
.ptm { padding-top: var(--helper-m); }
.ptl { padding-top: var(--helper-l); }
.ptn { padding-top: var(--helper-none); }
.prs { padding-right: var(--helper-s); }
.prm { padding-right: var(--helper-m); }
.prl { padding-right: var(--helper-l); }
.prn { padding-right: var(--helper-none); }
.pbs { padding-bottom: var(--helper-s); }
.pbm { padding-bottom: var(--helper-m); }
.pbl { padding-bottom: var(--helper-l); }
.pbn { padding-bottom: var(--helper-none); }
.pls { padding-left: var(--helper-s); }
.plm { padding-left: var(--helper-m); }
.pll { padding-left: var(--helper-l); }
.pln { padding-left: var(--helper-none); }
.pvs { padding: var(--helper-s) var(--helper-none); }
.pvm { padding: var(--helper-m) var(--helper-none); }
.pvl { padding: var(--helper-l) var(--helper-none); }
.pvn { padding-top: var(--helper-none); padding-bottom: var(--helper-none); }
.phs { padding: var(--helper-none) var(--helper-s); }
.phm { padding: var(--helper-none) var(--helper-m); }
.phl { padding: var(--helper-none) var(--helper-l); }
.phn { padding-right: var(--helper-none); padding-left: var(--helper-none); }
.pas { padding: var(--helper-s); }
.pam { padding: var(--helper-m); }
.pal { padding: var(--helper-l); }
.pan { padding: var(--helper-none); }
/* margin */
.mts { margin-top: var(--helper-s); }
.mtm { margin-top: var(--helper-m); }
.mtl { margin-top: var(--helper-l); }
.mtn { margin-top: var(--helper-none); }
.mrs { margin-right: var(--helper-s); }
.mrm { margin-right: var(--helper-m); }
.mrl { margin-right: var(--helper-l); }
.mrn { margin-right: var(--helper-none); }
.mbs { margin-bottom: var(--helper-s); }
.mbm { margin-bottom: var(--helper-m); }
.mbl { margin-bottom: var(--helper-l); }
.mbn { margin-bottom: var(--helper-none); }
.mls { margin-left: var(--helper-s); }
.mlm { margin-left: var(--helper-m); }
.mll { margin-left: var(--helper-l); }
.mln { margin-left: var(--helper-none); }
.mvs { margin: var(--helper-s) var(--helper-none); }
.mvm { margin: var(--helper-m) var(--helper-none); }
.mvl { margin: var(--helper-l) var(--helper-none); }
.mvn { margin-top: var(--helper-none); margin-bottom: var(--helper-none); }
.mhs { margin: var(--helper-none) var(--helper-s); }
.mhm { margin: var(--helper-none) var(--helper-m); }
.mhl { margin: var(--helper-none) var(--helper-l); }
.mhn { margin-right: var(--helper-none); margin-left: var(--helper-none); }
.mas { margin: var(--helper-s); }
.mam { margin: var(--helper-m); }
.mal { margin: var(--helper-l); }
.man { margin: var(--helper-none); }