:root {
    --bg-color: #eee;
    --bg-color-2: rgb(245, 245, 245);
    --header-h: 50px;
    --footer-h: 100px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px solid; */
    font-family: Arial, sans-serif;
}
img {
    width: 100%;
    height: 100%;
    min-width: 50px;
    min-height: 50px;
    background: darkgray;
}
body {
    font-size: 16px;
}
p {
    padding: 1em;
}
.btn {
    padding: 0.8em 1.5em;
    background: transparent;
    font-size: 1.2em;
}

.navbar {
    height: var(--header-h);
    display: block;
    background-color: var(--bg-color);    
}
.navbar__logo {
    display: inline-block;;
}
.navbar nav {
    display: inline-block;
    height: 100%;
    padding: 15px;
    float: right;
}
.navbar nav ul li {
    display: inline-block;
}
.navbar nav a {
    display: block;
    padding: 0 2em;
}
.section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2em;
    clear: both;
}
.section.section--bg {
    max-width: 100%;
    height: 400px;    
    display: block;
    font-size: 3rem;
    text-align: center;
    background-image: url(https://fakeimg.pl/150x150/?text=Background);
    background-attachment: fixed;
}
.section-title {
    font-size: 2em;
    padding: 1em;
    text-align: center;
}
.section-title--main {
    font-size: 3em;
}
.section-title--secondary {
    font-size: 1.2em;
    text-align: left;
}
.content-section-a {
    display: block;   
}
.content-section-a div {
    max-width: calc(1200px - 400px);
    padding: 20px;
    float: left;
}
.content-section-a div p {
    padding: 20px;
}
.content-section-a img {
    max-width: 300px;
    float: right;
    margin-top: 20px;
}

/* CARDS */

.cards {
    display: block;
    text-align: center;
}
.card {
    height: auto;
    min-height: 250px;
    display: inline-block;
    padding: 1em;
    border: 1px solid #222;
    border-radius: 10px;
    margin: 0 50px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.card button {
    display: block;
    width: 100%;   
    height: auto; 
}

/* CONTACT */

.contact {
    display: block;
    height: auto;
    width: 50%;
    margin: 0 auto;
}
.form_group {
    display: block;
    padding: 1em;
}
.form_group label,
.form_group input {
    display: block;
}
.form_group input,
.form_group textarea {
    width: 100%;
    font-size: 1.2em;
    padding: 0.5em;
    margin-top: 0.25em;
}
.contact button {
    display: block;
    margin: 0 auto;
}

/* FOOTER */
footer {
    clear: both;
    height: 100px;
    display: block;
    background-color: var(--bg-color);
    text-align: center;
}
.social-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 25px 2em;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-decoration: none;
    overflow: hidden;
}


/************/
/**  BLOG  **/
/************/
.blog_main {
    display: flex;
    flex-direction: row;
}
.blog_main_section {
    width: 70%;
    padding: 3em;
}
.blog_main_section__img {
    float: right;
    padding: 1em 0 1em 1em;    
}
.blog_aside {
    width: 30%;
    display: flex;
    flex-direction: column;
    padding-top: 3em;
    padding-left: 2em;
    background-color: var(--bg-color-2);
}
.author {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 2em 0;
}
.author__img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.author__name {
    margin-left: 2em;
}
.blog_social {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.blog_social .social-icon {
    margin: 0 0.5em;
}

