:root {
    --bg-color: #eee;
    --bg-color-2: rgb(245, 245, 245);
    --header-h: 50px;
    --footer-h: 100px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px solid; */
    font-family: Arial, sans-serif;
}

body {
    font-size: 16px;
}
p {
    padding: 1em;
}
.btn {
    padding: 0.8em 1.5em;
    background: transparent;
    font-size: 1.2em;
}

.navbar {
    height: var(--header-h);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
}
.navbar__logo {
    display: flex;
}
.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
.navbar nav ul li a {
    display: flex;
    padding: 0 2em;
}
.section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2em;
}
.section.section--bg {
    max-width: 100%;
    height: 400px;    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-align: center;
    background-image: url(https://fakeimg.pl/150x150/?text=Background);
    background-attachment: fixed;
}
.section-title {
    font-size: 2em;
    padding: 1em;
    text-align: center;
}
.section-title--main {
    font-size: 3em;
}
.section-title--secondary {
    font-size: 1.2em;
    text-align: left;
}
.content-section-a {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.content-section-a div p {
    max-width: 960px;
    padding: 20px;
}

/* CARDS */

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.card {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border: 1px solid #222;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.card button {
    width: 100%;    
}

/* CONTACT */

.contact {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 50%;
    margin: 0 auto;
}
.form_group {
    display: flex;
    flex-direction: column;
    padding: 1em;
}
.form_group input,
.form_group textarea {
    font-size: 1.2em;
    padding: 0.5em;
    margin-top: 0.25em;
}
.contact button {
    align-self: center;
}

/* FOOTER */
footer {
    clear: both;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}
.social-icon {
    display: flex;
    margin: 0 2em;
    border-radius: 50%;;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-decoration: none;
    overflow: hidden;
}


/************/
/**  BLOG  **/
/************/
.blog_main {
    display: flex;
    flex-direction: row;
}
.blog_main_section {
    width: 70%;
    padding: 3em;
}
.blog_main_section__img {
    float: right;
    padding: 1em 0 1em 1em;    
}
.blog_aside {
    width: 30%;
    display: flex;
    flex-direction: column;
    padding-top: 3em;
    padding-left: 2em;
    background-color: var(--bg-color-2);
}
.author {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 2em 0;
}
.author__img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.author__name {
    margin-left: 2em;
}
.blog_social {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.blog_social .social-icon {
    margin: 0 0.5em;
}

